* {
    margin: 0;
    padding: 0;
    border: none;

}

/* set for larger desktops */
body {
    max-width: 1200px;
    margin: auto;
    background-color: aquamarine;
}


.testCon {
    color: red;
    text-align: center;
}

#headArea {
    color: green;
    height: 100px;
    width: 80%;
    background-color: yellow;
    margin: auto;
}

#mainArea {
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  
    color: black;
    height: 800px;
    width:80%;
    background-color: blue;
    margin: auto;
    background-image: url(../images/woodback.jpg);
}



.pinHolder {
    display: flex;
    justify-content: space-around;
    align-items: center;

    color: white;
    height: 50px;
    width: 600px;
    background-color: rgb(red, green, blue, 01);
    margin: auto;
    border: 2px solid black;
}

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #432616;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px black;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto;
    border: solid 1px black;
    box-shadow: -1px -1px black;
}

.inner-inner-circle {
    position: relative;
    background: black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: auto;
}

.score-square{
    display: grid;
    grid-template-columns: 1fr 1fr;

    background-color: #432616;
 
    height: 40px;
    width: 40px;
    
    box-shadow: 1px 1px black;
    align-content: space-around ; 
    justify-content: space-between ;
}

.inner-score-square {

    background-color: black;
    height: 5px;
    width: 5px;
  
    margin: auto;
    border-radius: 50%;
    
}

#controlArea {
    color: black;
    height: 100px;
    width: 80%;
    background-color: green;
    margin: auto;
}

#mainArea {
    display:flex;
    align-content: space-around ; 
 

}

#colorChoice-area {
    
    
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: space-around ; 
    flex-direction: column;

    height:700px;
    width: 100px;
    /* background-color: green; */
    /* background-color: #432616; */
    background-image: url(../images/woodback.jpg);
    border-radius: 10px;
}
.color-pallet {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: auto;
  
    box-shadow: 1px 1px black;

    background-color: #432616;
}
.what-color {
    display: flex;
    /* justify-content: center; */
    align-items: center;
  
   
  
    border-radius: 50%;
    height: 25px;
    width: 25px;

    font-size: smaller;
}

#c-red {
    background: radial-gradient(circle at 50px 50px, white, red);
}
#c-green {
    background: radial-gradient(circle at 50px 50px, white,green);
}
#c-blue {
    background: radial-gradient(circle at 50px 50px, white, blue);
}