@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;

}

/* set for larger desktops */
body {
    max-width: 1200px;
    margin: auto;
    background-position: left top;

    /* background-image: url(../images/pexels-pixabay-326311.jpg); */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

#holder {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    margin: auto;
    width: auto;
    border: 2px solid black;
    

}



#headarea {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 50px;
    width: 80%;

    padding-right: 20px;

    align-items: center;
    background-color: rgba(0, 0, 0, 0.01);
}

#count_up_timer {
    background-color: blue;
    display: flex;
    align-self: center;


    font-size: 15px;
    font-weight: bold;
    color: white;
    padding: 2px;
}

#main-title {
    display: flex;

    justify-content: center;
    align-items: center;
    align-self: center;

    font-family: "Tilt Neon", sans-serif;
    padding: 2px 0 2px 0;
    font-weight: 400;
    font-size: 2em;
    /* margin: auto; */
    text-align: center;
    color: darkkhaki;


}

#mainarea {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;

    color: black;
    height: auto;
    border: 5px solid white;
    margin-top: 10px;

}



.pinholder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    font-size: larger;
    padding-left: 3px;

    background-color: grey;

    border: 2px solid black;

}

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #432616;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto;
    border: solid 1px black;
    box-shadow: -1px -1px black;
}

.inner-inner-circle {
    background: black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: auto;
}

.score-square {
    display: grid;
    grid-template-columns: 1fr 1fr;


    background-color: #432616;

    height: 2em;
    width: 2em;

    box-shadow: 1px 1px black;
    align-content: space-around;
    justify-content: space-between;
    margin-right: 5px;

}

.inner-score-square {

    background-color: black;
    height: 5px;
    width: 5px;

    margin: auto;
    border-radius: 50%;

}


#colorChoice-area {

    display: flex;
    flex-direction: column;
    align-content: center;

    margin: 10px 0 10px 0;
    height: 400px;
    width: 80px;
    /* background-image: url(../images/woodback.jpg); */
    border-radius: 10px;
    color: white;
    text-align: center;


}

.color-pallet {

    display: flex;
    justify-content: center;
    align-items: center;


    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: auto;



    box-shadow: 1px 1px black;
    background-color: #432616;
}

.what-color {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    height: 30px;
    width: 30px;
    color: black;
    text-align: center;
    font-size: smaller;
}

#c-red {
    background: radial-gradient(circle at 50px 50px, white, red);
}

#c-green {
    background: radial-gradient(circle at 50px 50px, white, green);
}

#c-blue {
    background: radial-gradient(circle at 50px 50px, white, blue);
}

#c-yellow {
    background: radial-gradient(circle at 50px 50px, white, yellow);
}

#c-black {
    background: radial-gradient(circle at 50px 50px, white, black);
}

#c-white {
    background: radial-gradient(circle at 50px 50px, black, white);
}



#controlarea {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;


    color: black;


    padding: 5px;


    background-color: rgba(0, 0, 0, 0.01);

}


.button {
    display: inline-block;
    background-color: #efe0bb;
    padding: 5px;
    width: 120px;
    border: 50px;
    text-align: center;
    border-radius: 15px;
    max-width: fit-content;
    white-space: nowrap;

}
/* hide rotation message and screen */
.no-rotate-image, .no-rotate-message {
    display:none;
}

/* stop rotate on small screen */
@media only screen and (min-device-width: 300px) and (max-device-width: 719px) and (orientation: landscape) {

   #holder {
        display:none;
    }

    html, body {
        background: black;
        height: 100%;
        width: 100%;
      }
      
      body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      
      .no-rotate-image {
        height: 50px;
        width: 100px;
        border: 3px solid white;
        border-radius: 10px;
        animation: rotate 1.5s ease-in-out infinite alternate;
      
      }
      
      .no-rotate-message {
        color: white;
        font-size: 1em;
        margin-top: 40px;
        
      }
      
      @keyframes rotate {
        0% {
              transform: rotate(0deg)
          }
          50% {
              transform: rotate(-90deg)
          }
          100% {
              transform: rotate(-90deg)
          }
      }
      
      @media only screen and (max-device-width: 812px) and (orientation: landscape) {
        .no-rotate-image, .no-rotate-message {
          display: block;
        }
      }











}













/* Media Query for Iphone Tablets, Ipads */
@media (min-width: 310px) and (max-width: 719px) and (orientation: portrait) {
    body {
        background-color: yellow;
    }

    #holder {
        max-height: 100vh;
    }

    #mainarea {
        max-width: 95vw;
    }

    #controlarea {
        max-width: 90vw;
    }

}

/* Media Query for Tablets Ipads and (max-width: 1024px) */
@media (min-width: 719px) {
    body {
        background-color: blue;
    }

    #holder {
        border: 1px solid white;
        height: 650px;
    }

    #controlarea {
        margin: 20px 0 20px 0;
    }

    #main-title {

        font-size: 3em;
    }

}


/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
    body {
        background-color: green;

    }

    #holder {

        height: 700px;
    }
}

/* Media Query for Largest screens  */
@media (min-width: 1281px) {
    body {
        background-color: grey;
    }

    #holder {

        height: 800px;
    }

}