@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;

}

/* set for larger desktops */
body {
    max-width: 1200px;
    margin: auto;
    background-position: left top;
    background-image: url(../images/woodback.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}




#headArea {

    height: auto;
    width: 80%;

    margin: auto;
    background-color: rgba(0, 0, 0, 0.01);
}
#main-title{
    font-family: "Tilt Neon", sans-serif;
    padding-top: 50px;
    font-weight: 400;
    font-size: 3em;
    margin: auto;
    text-align: center;
    color:darkkhaki;

}

#mainArea {
    display: flex;
    flex-direction: column;

    align-items: center;


    color: black;
    height: auto;
    width: 80%;
    background-color: blue;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.01);
    padding-top: 10px;

}



.pinHolder {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: black;
    font-size: larger;

    background-color: grey;

    border: 2px solid black;

}

.outer-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #432616;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    box-shadow: 1px 1px black;
    margin: 5px;
}

.inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    margin: auto;
    border: solid 1px black;
    box-shadow: -1px -1px black;
}

.inner-inner-circle {
    position: relative;
    background: black;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    margin: auto;
}

.score-square {
    display: grid;
    grid-template-columns: 1fr 1fr;


    background-color: #432616;

    height: 40px;
    width: 40px;

    box-shadow: 1px 1px black;
    align-content: space-around;
    justify-content: space-between;
    margin-right: 5px;

}

.inner-score-square {

    background-color: black;
    height: 5px;
    width: 5px;

    margin: auto;
    border-radius: 50%;

}

#controlArea {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;


    color: black;
    height: 100px;
    width: 80%;

    margin: auto;

    background-color: rgba(0, 0, 0, 0.01);

}


#colorChoice-area {
    margin: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;

    height: 100px;
    max-width: 180px;
    background-image: url(../images/woodback.jpg);
    border-radius: 10px;

}

.color-pallet {

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: auto;



    box-shadow: 1px 1px black;
    background-color: #432616;
}

.what-color {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    height: 30px;
    width: 30px;

    text-align: center;
    font-size: smaller;
}

#c-red {
    background: radial-gradient(circle at 50px 50px, white, red);
}

#c-green {
    background: radial-gradient(circle at 50px 50px, white, green);
}

#c-blue {
    background: radial-gradient(circle at 50px 50px, white, blue);
}

#c-yellow {
    background: radial-gradient(circle at 50px 50px, white, yellow);
}

#c-black {
    background: radial-gradient(circle at 50px 50px, white, black);
}

#c-white {
    background: radial-gradient(circle at 50px 50px, black, white);
}

#c-orange {
    background: radial-gradient(circle at 50px 50px, white, #FF4500);
}

#c-purple {
    background: radial-gradient(circle at 50px 50px, grey, #800080);
}

.button {
    display: inline-block;
    background-color: #efe0bb;
    padding: 15px;
    width: 120px;

    text-align: center;
    border-radius: 15px;
}




@media screen and (max-width: 310px) {
    #colorChoice-area {
        max-width: 50%;
    }
}